<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PlusU勤怠管理ページ</title>

    <link rel="stylesheet" href="../views/style.css">

</head>

<body>
    <header class="header">
        勤怠管理ページ
    </header>

    <div class="sort">
        <img src="../images/image_sort.png">
    </div>
    <div class="card">
        <div class="delete_button">
            <div class="delete_icon"><img src="../images/image_delete.png"></div>
        </div>
        <div class="image">
        </div>
        <div class="name_container">
            <h1 class="name">豊島愛里砂</h1>
            <img src="../images/image_edit.png">
        </div>
        <div class="tag">
        </div>
            <textarea maxlength="38" class="comment"></textarea>

        <div class="button_container">
            <div class="button green">
                在席
            </div>
            <div class="button red">
                離席
            </div>
            <div class="button gray">
                終業
            </div>
        </div>

    </div>
</body>
</html>
